<!DOCTYPE html>
<html>

<head>
	<title>Lean & Green</title>
	<%=  stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
			<%= csrf_meta_tags %>

				<!-- EMBER TAGS -->
				<%= stylesheet_link_tag 'frontend' %>
					<%= include_ember_script_tags :frontend %>

</head>

<body>
	<header> HEADER</header>

	<%= yield %>

</body>

</html>
